.desktop {
  height: 95%;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(83, 152, 237, 1) 100%
  );
  user-select: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 115px);
  grid-auto-flow: column;
  gap: 10px;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;
}

.desktop-icon {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;

  .icon {
    padding-top: 5px;
  }
}

.desktop-icon:hover {
  background-color: rgba(42, 123, 155, 0.5);
}

.transition-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.transition-video.visible {
  opacity: 1;
  pointer-events: auto;
}
