* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: #1f3a8a;
  --secondary: #0f766e;
  --accent: #06b6d4;
  --main-background: #0b1020;
  --window: #f3f4f6;
  --text-light: #e5e7eb;
  --text-dark: #111827;
}
.container {
  height: 100svh;
}

.screen {
  position: relative;
  height: 100%;
  /* border-radius: 10px; */
  position: relative;
  background-color: black;
  overflow: hidden;
}
