* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  /* padding: 20px;
  background-color: black;
  box-sizing: border-box; */
  height: 100svh;
}

.screen {
  position: relative;
  height: 100%;
  /* border-radius: 10px; */
  position: relative;
  background-color: black;
  overflow: hidden;
}
