$handle-size: 8px;

.window {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  border: 1px solid rgb(40, 40, 40);
  overflow: hidden;
  box-sizing: border-box;
}

.resize-handle {
  position: absolute;
  z-index: 1000;
}

.resize-handle-right {
  top: 40px;
  right: 0;
  width: $handle-size;
  height: calc(100% - 38.5px);
}

.resize-handle-left {
  top: 40px;
  left: 0;
  width: $handle-size;
  height: calc(100% - 38.5px);
}

.resize-handle-bottom {
  bottom: 0;
  width: 100%;
  height: $handle-size;
}

.resize-handle-top {
  top: 0;
  width: 100%;
  height: $handle-size;
}

.window-header {
  position: relative;
  height: 40px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;

  .window-header-image {
    height: 100%;
  }

  img {
    height: 100%;
  }

  .window-header-title {
    flex-grow: 10;
    margin-left: 10px;
  }

  .window-header-buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    cursor: pointer;
  }
}

.window-action-buttons {
  display: flex;
  gap: 20px;
  padding: 5px;
  box-sizing: border-box;
  height: 30px;
  background-color: bisque;
}

.window-folder {
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.window-content {
  width: 100%;
  height: calc(100% - 38.5px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.window-content:has(iframe) {
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

iframe {
  border: none;
}
