$handle-size: 8px;

.window {
  width: 500px;
  height: 500px;
  color: var(--text-light);
  position: absolute;
  border-radius: 5px;
  border: 1px solid rgb(40, 40, 40);
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.resize-handle {
  position: absolute;
  z-index: 1000;
}

.resize-handle-right {
  top: 40px;
  right: 0;
  width: $handle-size;
  height: calc(100% - 40px);
}

.resize-handle-left {
  top: 40px;
  left: 0;
  width: $handle-size;
  height: calc(100% - 40px);
}

.resize-handle-bottom {
  bottom: 0;
  width: 100%;
  height: $handle-size;
}

.resize-handle-top {
  top: 0;
  width: 100%;
  height: $handle-size;
}

.window-header {
  height: 40px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  flex-shrink: 0;

  .window-header-image {
    height: 100%;
  }

  img {
    height: 100%;
  }

  .window-header-title {
    flex-grow: 1;
    margin-left: 10px;
  }

  .window-header-buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    cursor: pointer;
  }
}

.window-action-buttons {
  display: flex;
  gap: 20px;
  padding: 5px;
  box-sizing: border-box;
  height: 30px;
  background-color: var(--secondary);
  flex-shrink: 0;
}

.window-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  background-color: var(--window);
}

.window-content:has(iframe) {
  overflow: hidden;
}

.window-folder {
  padding: 10px;
  display: grid;
  grid-auto-rows: 120px;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;

  .desktop-icon {
    color: var(--text-dark);
  }
}

.video {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

iframe {
  border: none;
}
