.window-project {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  color: var(--text-dark);

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 100%;
  }
}
