.desktop {
  height: 95%;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(83, 152, 237, 1) 100%
  );
  user-select: none;
  display: grid;
  grid-template-columns: repeat(16, 100px);
  grid-template-rows: repeat(7, 100px);
  gap: 10px;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;
}

.desktop-icon {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.desktop-icon:hover {
  background-color: rgba(42, 123, 155, 0.5);
}
