.taskbar {
  height: 5%;
  background-color: aqua;
  display: flex;
}

.osButton {
  flex-grow: 1;
  border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
}
.tabs {
  flex-grow: 15;
  border: 1px solid black;
  display: flex;
  gap: 10px;
}

.settings {
  flex-grow: 2;
  border: 1px solid black;
}

.taskbar-item {
  display: flex;
  height: 100%;
  max-width: 200px;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;

  .taskbar-item-icon {
    height: 100%;

    img {
      height: 100%;
    }
  }
}
